* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../others/img/backgroundLp.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  div {
    color: #ccc;
  }

  .container1 {
    background-color: $background-color;
    width: 28rem;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px #000;
    ::selection {
      background-color: $button-color;
      color: #ccc;
    }

    .topLogo {
      width: 180px;
    }

    .paragraph {
      margin: 8px 8px;
    }

    .form-control {
      border-color: transparent;
      background-color: transparent;
      color: $button-color;
      caret-color: $button-color;
      &:focus {
        box-shadow: 0 0 0 0.2rem transparent;
        border: 1px solid $button-color;
      }
    }

    .input-group-text {
      border: 1px solid $button-color;
      background-color: transparent;
      color: #ccc;
    }
    .form-check-input {
      background-color: transparent;
      border: 1px solid $button-color;
      &:checked {
        background-color: $button-color;
        border-color: $button-color;
      }
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
      }
    }

    .btnSend {
      color: $button-color;
      border: 1px solid $button-color;

      &:hover {
        background-color: $button-color;
        color: #ccc;
      }
    }
    .btn-outline-success:focus {
      box-shadow: none;
      border-color: #ccc;
    }
  }

  .fotter {
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

@media (max-width: 428px) {
  body {
    background-size: auto;
    height: 100%;
    .container1 {
      width: 100%;
    }
  }
}
